#!/usr/bin/env python2

class Namespace(object):
    def __init__(self, parent, user):
        self.user = user
        self.dict = self.generate_dict(parent)

    def generate_dict(self, parent):
        parent = None

    def do_import(self, name):
        pass
